<div class="row gx-5 my-5">
  <div class="col-md">
    <h2 class="text-center display-1 text-info fw-bold">404</h2>
    <h1 class="text-center">
      <span class="bold text-info">Ooops!</span> We could not found the page you
      were looking for.
    </h1>
    <button
      routerLink="/"
      class="btn btn-info mx-auto d-block bi-chevron-left text-white"
    >
      GO TO HOME PAGE
    </button>
  </div>
  <div class="col-md">
    <img
      class="img-fluid text-center my-5 mx-auto d-block"
      src="assets/svg/page_not_found.svg"
      alt="Page not found"
    />
  </div>
</div>
