<div class="container">
  <footer
    class="d-flex flex-wrap justify-content-center justify-content-sm-between align-items-center py-3 my-4 border-top"
  >
    <div class="col-md-4 d-flex align-items-center">
      <p class="mb-3 mb-sm-0 text-muted fs-5">
        <span class="text-success fw-semibold">Simon Žižek</span> | Angular
        <span class="d-none d-lg-inline">Exercise</span>
      </p>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-muted" href="https://github.com/spymon" target="_blank"
          ><i class="bi bi-github fs-4"></i
        ></a>
      </li>
      <li class="ms-3">
        <a
          class="text-muted"
          href="https://www.linkedin.com/in/simon-%C5%BEi%C5%BEek/"
          target="_blank"
          ><i class="bi bi-linkedin fs-4"></i
        ></a>
      </li>
    </ul>
  </footer>
</div>
