<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
  <div class="container">
    <button
      class="navbar-toggler"
      (click)="isCollapsed = !isCollapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggler"
      aria-controls="navbarToggler"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a routerLink="/" class="navbar-brand text-success fst-italic fw-light fs-3"
      >Angular Course App</a
    >
    <div
      class="collapse navbar-collapse text-center text-lg-start"
      id="navbarToggler"
      [ngbCollapse]="isCollapsed"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li routerLinkActive="active" class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/followers"
            [queryParams]="{ page: 1, order: 'newest' }"
            >Followers</a
          >
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/posts">Posts</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/authors">Authors</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/archive">Archive</a>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" ngbDropdownToggle> Forms </a>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <li routerLinkActive="active">
              <a
                class="dropdown-item"
                ngbDropdownItem
                routerLink="/change-password"
                >Change Password</a
              >
            </li>
            <li routerLinkActive="active">
              <a class="dropdown-item" ngbDropdownItem routerLink="/new-course"
                >New Course</a
              >
            </li>
            <li routerLinkActive="active">
              <a
                class="dropdown-item"
                ngbDropdownItem
                routerLink="/new-course-formbuild"
                >New Course with FormBuild</a
              >
            </li>
            <li routerLinkActive="active">
              <a class="dropdown-item" ngbDropdownItem routerLink="/contact"
                >Contact</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/social">Social Interactions</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/reusable">Panel & Zippy</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/custom-pipe">Title Case</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
