<div class="container">
  <h1>Welcome to App</h1>

  <div class="shadow rounded-4 my-4 p-3">
    <h2 class="">Authors section</h2>
    <p class="text-muted text-decoration-underline fst-italic fs-5">
      Getting Data From Fake Service And Render It On The Page
    </p>
    <authors></authors>
  </div>

  <div class="shadow rounded-4 my-4 p-3">
    <h2>Change Password Form</h2>
    <p class="text-muted text-decoration-underline fst-italic fs-5">
      Reactive Forms
    </p>
    <change-password-form></change-password-form>
  </div>

  <div class="shadow rounded-4 my-4 p-3">
    <h2>Contact Form</h2>
    <p class="text-muted text-decoration-underline fst-italic fs-5">
      Template-driven Forms
    </p>
    <contact-form></contact-form>
  </div>
  <div class="shadow rounded-4 my-4 p-3">
    <h2>Course</h2>
    <p class="text-muted text-decoration-underline fst-italic fs-5">
      Creating New Component Exercise
    </p>
    <course></course>
  </div>

  <div class="shadow rounded-4 my-4 p-3">
    <h2>Like</h2>
    <p class="text-muted text-decoration-underline fst-italic fs-5">
      Reusable Components using @input() / @output() Decorators
    </p>
    <div *ngFor="let post of posts">
      <span>{{ post.title }} </span>
      <favorite
        [is-favorite]="post.isFavorite"
        [post]="post"
        (toggle)="Like($event)"
      ></favorite>
    </div>
  </div>

  <div class="shadow rounded-4 my-4 p-3">
    <h2>Github Followers</h2>
    <p class="text-muted text-decoration-underline fst-italic fs-5">
      Using services / httpClient
    </p>
    <github-followers></github-followers>
  </div>

  <div class="shadow rounded-4 my-4 p-3">
    <h2>New Course Form</h2>
    <p class="text-muted text-decoration-underline fst-italic fs-5">
      Using FormGroup / FormArray
    </p>
    <new-course-form></new-course-form>
  </div>

  <div class="shadow rounded-4 my-4 p-3">
    <h2>New Course Form</h2>
    <p class="text-muted text-decoration-underline fst-italic fs-5">
      Using FormBuilder / FormArray
    </p>
    <new-course-form-with-form-builder></new-course-form-with-form-builder>
  </div>

  <div class="shadow rounded-4 my-4 p-3">
    <h2>Panel</h2>
    <p class="text-muted text-decoration-underline fst-italic fs-5">
      ng-content/ng-container
    </p>
    <bootstrap-panel>
      <ng-container class="header">This is header text</ng-container>
      <ng-container class="body">This is body text</ng-container>
      <div class="footer">
        <h4>Footer</h4>
        <div class="border rounded p-1">Footer text</div>
      </div>
    </bootstrap-panel>
  </div>

  <div class="shadow rounded-4 my-4 p-3">
    <h2>Posts</h2>
    <p class="text-muted text-decoration-underline fst-italic fs-5">
      Using services / httpClient / App Errors / ErrorHandler
    </p>
    <div class="btn-group">
      <button
        (click)="showPosts = true"
        class="btn btn-primary"
        [class.active]="showPosts"
        aria-current="page"
      >
        Show Posts
      </button>
      <button
        (click)="showPosts = false"
        class="btn btn-primary"
        [class.active]="!showPosts"
      >
        Hide Posts
      </button>
    </div>
    <posts *ngIf="showPosts"></posts>
  </div>

  <div class="shadow rounded-4 my-4 p-3">
    <h2>Sign up Form</h2>
    <p class="text-muted text-decoration-underline fst-italic fs-5">
      custom validators / dynamic error messages
    </p>
    <signup-form></signup-form>
  </div>

  <div class="shadow rounded-4 my-4 p-3">
    <h2>Title Case</h2>
    <p class="text-muted text-decoration-underline fst-italic fs-5">
      custom pipe
    </p>
    <app-title-case></app-title-case>
  </div>

  <div class="shadow rounded-4 my-4 p-3">
    <h2>Twitter like</h2>
    <p class="text-muted text-decoration-underline fst-italic fs-5">
      Dynamic Reusable Component With @input() Decorators
    </p>
    <ul class="list-group">
      <li *ngFor="let post of twitterPosts" class="list-group-item">
        <twitter-like
          [isActive]="post.isLiked"
          [likesCount]="post.likesCount"
        ></twitter-like>
        <p>{{ post.title }}</p>
      </li>
    </ul>
  </div>

  <div class="shadow rounded-4 my-4 p-3">
    <h2>Zippy</h2>
    <p class="text-muted text-decoration-underline fst-italic fs-5">
      Dynamic Accordion With @input() / @output() Decorators bindings and
      ng-content tag
    </p>
    <zippy title="Is Angular Awesome?"
      >Angular is super awesome, and soo big framework! Keep learning 😊</zippy
    >
  </div>
</div>
