<wrapper title="Change Password Form" subtitle="Reactive Forms / FormBuilder">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="mb-3">
      <label for="oldPassword">Old password</label>
      <input
        autocomplete="off"
        class="form-control"
        [class.is-invalid]="
          (oldPassword?.touched || isSubmitted) && oldPassword?.invalid
        "
        [class.is-valid]="
          (oldPassword?.touched || isSubmitted) && oldPassword?.valid
        "
        formControlName="oldPassword"
        type="password"
        id="oldPassword"
      />
      <!-- LOADING SPINNER -->
      <div
        *ngIf="oldPassword?.pending"
        class="spinner-border spinner-border-sm"
        role="status"
      ></div>

      <!-- VALIDATION ERROR MESSAGES -->
      <div
        *ngIf="(oldPassword?.touched || isSubmitted) && oldPassword?.errors?.['required']"
        class="invalid-feedback"
      >
        Old password field is required.
      </div>
      <div
        *ngIf="(oldPassword?.touched || isSubmitted) && oldPassword?.errors?.['invalidOldPassword']"
        class="invalid-feedback"
      >
        Old password does not match.
      </div>
    </div>

    <div class="mb-3">
      <label for="newPassword">New password</label>
      <input
        autocomplete="off"
        class="form-control"
        [class.is-invalid]="
          (newPassword?.touched || isSubmitted) && newPassword?.invalid
        "
        [class.is-valid]="
          (newPassword?.touched || isSubmitted) && newPassword?.valid
        "
        formControlName="newPassword"
        type="password"
        id="newPassword"
      />
      <!-- VALIDATION ERROR MESSAGES -->
      <div
        *ngIf="(newPassword?.touched || isSubmitted) && newPassword?.errors?.['required']"
        class="invalid-feedback"
      >
        New password field is required.
      </div>
      <div
        *ngIf="(newPassword?.touched || isSubmitted) && newPassword?.errors?.['minlength']"
        class="invalid-feedback"
      >
        New password must be at least
        {{newPassword?.errors?.['minlength'].requiredLength}} long.
      </div>
    </div>

    <div class="mb-3">
      <label for="confirmPassword">Confirm new password</label>
      <input
        autocomplete="off"
        class="form-control"
        [class.is-invalid]="
        (confirmPassword?.touched || isSubmitted) && (confirmPassword?.invalid ||
        form.errors?.['invalidPasswords']) 
      "
        [class.is-valid]="
          (confirmPassword?.touched || isSubmitted) &&
          confirmPassword?.valid &&
          form.valid
        "
        formControlName="confirmPassword"
        type="password"
        id="confirmPassword"
      />
      <!-- VALIDATION ERROR MESSAGES -->
      <div
        *ngIf="(confirmPassword?.touched || isSubmitted) && confirmPassword?.errors?.['required']"
        class="invalid-feedback"
      >
        Confirm new password field is required.
      </div>
      <div
        *ngIf="(confirmPassword?.touched || isSubmitted) && confirmPassword?.valid && form.errors?.['invalidPasswords']"
        class="invalid-feedback"
      >
        Passwords does not match.
      </div>
    </div>

    <button
      *ngIf="oldPassword?.pending; else submitBtn"
      class="btn btn-primary"
      [disabled]="oldPassword?.pending"
    >
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
      <span class="sr-only">Loading...</span>
    </button>
    <ng-template #submitBtn>
      <button class="btn btn-primary">Submit</button>
    </ng-template>
  </form>
</wrapper>
