<wrapper title="New Course Form" subtitle="Using FormGroup / FormArray">
  <form [formGroup]="form">
    <label for="topics">Add topic:</label
    ><input
      (keyup.enter)="addTopic(topicInput)"
      #topicInput
      formArrayName="topics"
      type="text"
      class="form-control my-2"
      id="topics"
    />
    <hr />
    <ul class="list-group">
      <li
        *ngFor="let topic of topics.controls"
        (click)="removeTopic(topic)"
        class="list-group-item pointer"
      >
        {{ topic.value }}
      </li>
    </ul>
  </form>
</wrapper>
