<wrapper
  title="Authors section"
  subtitle="Getting Data From Fake Service And Render It On The Page"
>
  <h2>{{ authors.length }} Authors</h2>
  <ul>
    <li *ngFor="let author of authors">{{ author }}</li>
  </ul>
  <hr />
  <h3>{{ course.title | uppercase }} - Build In Pipes</h3>
  <ul>
    <li>{{ course.students | number }}</li>
    <li>{{ course.rating | number : "1.2-2" }}</li>
    <li>{{ course.price | currency : "EUR" }}</li>
    <li>{{ course.releaseDate | date : "d.MM.YYYY" }}</li>
  </ul>

  <hr />
  <h3>Long Text - summary custom pipe</h3>
  <p>{{ longText | summary : 70 }}</p>
</wrapper>
